.containerBarra{
	width: 30vw;
	height: 10vh;
	background-color: aqua;

	display: flex;
	align-content: center;
}

.barra{
	height: 70%;
	align-self: center;
	margin-left: 2%;
	/* width: 100%; */
	transition: all 0.5s linear;
	position: relative;
	background-color: red;
}