header{
	width: 100vw;
	height: 3rem;

	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__element{
	margin:  0 1rem;
	font-size: 1.1rem;
	transition: all .1s ease-in;
	text-decoration: none ;
	text-transform: none ;
	color: #fff;
	cursor: pointer;	

}
.menu_info{
	align-items: center;
}
.header__element:hover{
	color: #ff0000;
	transform: scale(1.03);
}
.header__data{
	display: flex;
}