.historial{
	display: none;
	flex-direction: column;
	justify-content: top;
	align-items: center;
	background-color: green;
	padding-top: 5rem;
	z-index: 1000;
	height: 100vh;
}

.historial_menu{
	display: flex;
	width: 15rem;
	margin:1rem;
	justify-content: space-between;
}
.historial_menu :nth-child(1){	
	flex-grow: 1;
	text-align: center;
padding-left: 10%;
}
.historial_menu :nth-child(2){
	padding-right: 10%;
}	

.historial_info_titulo{
	display: flex;
	opacity: 0;
	gap: 4rem;
}

.historial_info_partida{
	display: flex;
	color:white;
	/* flex-direction: row; */
	gap: 7rem;
	border-bottom: 1px solid white;
	justify-content: center;
}


.historial_btn_div{

	display: flex;

	/* flex-direction: column; */
}

.btn_historial{
	padding: .5rem;
	margin: .1rem;
	padding: .5rem .5rem;
	font-size: 1.1rem;
	height: min-content;
	
}
.historial_html{
	margin-top:0rem;
	height: 20vh;
	padding-bottom: 1rem;
}