.instructions{
	color: white;
	background-color: #010;
	display:none;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	align-items: center;
}
.instruction_menu_title{
	font-size: 1.7rem ;
}
.instruction_menu{
	display: flex;
	flex-direction: column;
	margin-bottom: -2rem;
}

.instruction_menu p {
	text-align: center;
	font-size: 1.1rem;
	
}

.instruction_menu_title{
	display: flex;
	flex-direction: row;
	gap: 3rem;
}

.instructions_type{
	display: flex;
	flex-direction: column;
	color: white;
	margin: 1rem;

	margin-top: 2rem;
	/* border-top: 3px white solid ; */
	border-bottom:2px white solid;

}
.instructions_type p{
	color: #ccc;
	font-size: 1.2rem;
}
.instructions_type h2{
	color: lightblue;
	font-size: 1.7rem;
}

.instruction_description{
	margin-left: 3rem;
	margin-top: -.5rem;

}

.instrucion_content{
	margin: 1rem 3rem;
}