.menu{
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: red;
	height: 100vh;
	width: 100vw;
	transition: 1s all ease-in;
}

.menu_btn_Css{
	
background-color: white;
	border: 2px solid black;
	font-size: 1rem;
	font-weight: 500;
	padding: 0.5rem;
	width: 10vw;
	box-shadow: none;
}
.menu_btn_Css:hover{
	background-color: #a00;
	border-color: #fff;
	color: #fff;
	transition: all .5s ease-in;

}
@keyframes menu_btn {
	from{
		/* width: 0%; */
		background-color: red;
	}

	to{
		/* width: 100%; */
		background-color: green;
	}
}
.endGame{
	display: none;
	position: absolute;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	background-color: red;
	height: 100vh;
	width: 100vw;
	
	 z-index: 1000; 
	opacity: 1;
}

.endGame{
	opacity: 1;
}

.endGame_text{
	
	padding: 30%;
}

.endGame_option{
	/* width: 7vw;	 */
	display: flex;
	flex-direction: row;

	 gap: 5rem; 
	justify-content: space-between;
	

}
.endGame_info h2{
	
	color: white;
	font-size: 1.5rem;
}
.endGame_info h2{
	
	color: white;
	font-size: 1.5rem;
}
.endGame_info{
	display: flex;
	
	flex-direction: row;
	align-content: center;
	justify-content: left;
	width: 15rem;
	
}

.endGame_infoRsta{
	display: flex;
	justify-content: center;
	align-items: center;
}