body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #008;
}


.container{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;

	 gap: 4vh; 
}
.containerInfo{
	display: flex;
	flex-direction: row;
	gap: 1rem;
}

.infoItem{
	color: aqua;
	opacity: 1;
	
}

.containerTablero{

	width: 30vw;
	height: 50vh;
	display: grid;	
	grid-template-columns: repeat(2,45%);
	grid-template-rows: repeat(2,45%);
	justify-content: space-evenly;
	align-content: space-evenly;
	background-color: #060;
	opacity: 1;
	
}

.btn{
	transition: all .1s ease-in;	
	display: none;	
} 

.red{
	background-color: red;
}
.blue{
	background-color: blue;
}
.yellow{
	background-color: yellow;
}
.orange{
	background-color: orange;
}

.black{
	background-color: black;
	z-index: 100;
}